body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: auto;
}