.navBarP {
  font-size: 45px;
  color: #fff;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0.1vh;
  right: 0.5vw;
  cursor: pointer;
  z-index: 100;
}

.horizontalNavBar {
  width: 100vw;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
}

.mainDiv {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: minmax(400px, auto) minmax(300px, auto) minmax(250px, auto) minmax(200px, auto) minmax(150px, auto) minmax(200px, auto) minmax(100px, auto);
  gap: 20px;
  max-width: 1200px;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: center;
}

.section {
  margin-bottom: 2rem;
}

.heroSection {
  text-align: center;
}

.heroSection h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.heroSection p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.featuresOverview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s forwards;
}

.featuresOverview h2 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  margin-top: -10px;
  text-align: center;
  width: 100%;
}

.featuresOverview ul {
  list-style: none;
  padding: 0;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featuresOverview ul li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.benefitsSection, .testimonials, .securityAndPrivacy, .aboutSection, .faqs {
  padding: 2rem;
  background-color: rgba(40, 0, 70, 0.6);
  border-radius: 8px;
}

.visible {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

.footer p {
  color: rgba(255, 255, 255, 0.7);
}

.homeMainImgDiv {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.homeMainImgDiv img {
  width: 846px;
  height: 413px;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .homeMainImgDiv {
    flex-direction: column;
  }
  
  .homeMainImgDiv img {
    width: 98%;
    height: auto;
  }
}

.getStartedDiv {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 25px;
}

@media (max-width: 600px) {
  .getStartedDiv {
    margin-left: -5px;
  }
}
