.mainSection {
    resize: horizontal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

@media (max-width: 600px) {
    .mainSection {
        width: 90%;
        height: 95dvh;
        padding-left: unset;
        padding-right: unset;
        overflow-y: auto;
    }
}

.mainUl {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    gap: '20px';  
    text-decoration: 'none';
    margin: '0';
    margin-top: '-50px' !important;
    padding: '0';
    list-style: none;
    padding-inline-start: '0';
    margin-bottom: '25px';
    height: 800px;
    overflow-y: auto;
    width: 90%;
    position: relative;
}

@media (max-width: 600px) {
    .mainUl {
        height: 1000px;
    }
}

.chatMessage p {
    text-align: center;
    padding: 0;
    margin: 0;
}

.chatMessage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    max-width: 600px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 16px;
    min-height: 200px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .chatMessage {
        width: 300px;
        max-width: 350px;
        min-height: 100px;
    }

    .dateP {
        display: none;
    }

    .chatMessage p {
        font-size: 12px;
    }
}

.receivedMessage {
    margin-right: auto;
    background-color: rgb(51,10,105);
}

.sentMessage {
    margin-left: auto;
    background-color: rgb(155,74,206);
}